
.screen{
    width: 90vw;
    height: 200px;
    padding: 10px 5px;
    position:absolute;
    bottom: 10px;
    left: 100px;
    background-color: rgba(0, 0, 0, 0.477);
    /* box-shadow: 0px 0px 12px -2px white; */
    overflow: hidden;
}

.ul{
    position: absolute;
    margin: 0;
    padding: 0;
    transition:all 500ms linear;
    display: flex;
    list-style: none;
}
.list{
    cursor: pointer;
    width: 150px;
    height: 200px;
    margin: 0px 10px;
}
.imges{
    width: inherit;
    height: inherit;
}
.next,.prev{
    color: rgb(255, 255, 255);
    width: 40px;
    height: 220px;
    background: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px;
}
.prev{
    left: 0;
}
.next:hover,.prev:hover{
    background: rgba(250, 250, 250, 0.608);
    cursor: pointer;
    color: white;
}


@media screen and (max-width:1200px) {
    .screen{
        width: 88vw;
 
    }
    
}
@media screen and (max-width:900px) {
    .screen{
        width: 83vw;
 
    }
    
}
@media screen and (max-width:700px) {
    .screen{
        width:75vw;
 
    }
    
}
@media screen and (max-width:500px) {
    .next,.prev{
        width: 25px !important;
        font-size: 25px;

    }
    .screen{
        
        width:70vw;
        left: 70px;
 
    }
    
}