
.headerImg{
    width: 99.4vw;
    height: 99.7vh;

}
.TitleImage{
    width:430px ;
    height: 70px;
}
.headerInfoDiv{
    width: 500px;
    color: white;
    position:absolute;
    top:150px;
    left: 100px;
    /* border: 2px solid red; */
}
.Category{
    text-transform:uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 0 0 15px 2px;
    color:#918f8f;
}
.ReleaseYear{
    font-size: 22px;
    margin: 8px 0 0 0;
}
.Description{
    margin: 8px 0 28px 0;
    font-weight: 600;
}
.PlayBtn,.MoreInfoBtn{
    border-style: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    padding: 10px 50px;
    border-radius: 25px;
}
.MoreInfoBtn{
    padding: 10px 25px;
    margin-left: 15px;
    color: white;
    background-color: blue;

}

@media screen and (max-width:700px) {
    .headerInfoDiv{
        transform:scale(0.7);
        top:90px;
        left:27px;
    }
    
}
@media screen and (max-width:430px) {
    .TitleImage{
        width: 300px;
    }
    .headerInfoDiv{
        width: 360px;
        transform:scale(0.6);
        top:90px;
        left:30px;
    }
    
}
